@model IEnumerable<Release2.ViewModels.ExtensionRequestViewModel>

@{
    ViewBag.Title = "AllIndex";
}

<h2>AllIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Pending", "PendingIndex")
    @Html.ActionLink("Approved", "ApprovedIndex")
    @Html.ActionLink("Rejected", "RejectedIndex")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LMSubmitID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtendedPCID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtRequestSubmissionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtRequestStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LMSubmitID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtendedPCID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtRequestSubmissionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtRequestStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
        </td>
    </tr>
}

</table>
