@model IEnumerable<Release2.ViewModels.ExtensionRequestViewModel>

@{
    ViewBag.Title = "Approved Requests";
}

<h2>ApprovedIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExtendedPC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LMSubmits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtRequestSubmissionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtRequestStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExtendedPC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LMSubmits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtRequestSubmissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtRequestStatus)
            </td>

            <td>
                @Html.ActionLink("Audit", "Audit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("All Requests", "AllIndex")
</p>

<p>
    @Html.ActionLink("Pending Requests", "PendingIndex")
</p>

<p>
    @Html.ActionLink("Rejected Requests", "RejectedIndex")
</p>
