@model Release2.ViewModels.ExtensionRequestViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ExtensionRequestViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.ExtendedPCId)
        @Html.HiddenFor(model => model.LMSubmitId)
        <dt>
            @Html.DisplayNameFor(model => model.ExtReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HRAudits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRAudits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LMSubmits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LMSubmits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtendedPC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtendedPC)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button class="btn btn-success pull-left"> <span class="glyphicon glyphicon-floppy-open" type="submit"></span> Create Assignment</button>

        @*Where is delete button?*@

        @Html.ActionLink("Back to all Extension Requests", "AllIndex", null, new { @class = "btn btn-info" })
    </div>
    }
</div>
