@model IEnumerable<Release2.ViewModels.ProgressReviewViewModel>

@{
    ViewBag.Title = "Progress Reviews";
}

<h2>Index</h2>
<p>
    @if (ViewContext.HttpContext.User.IsInRole("LineManager"))
    {
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })}
    </p>
<table class="table table-hover table-striped table-bordered tab" id="reviewsTable">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ProbationaryColleague)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LMCreates)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.DHApproval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HREvaluation)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.PRCompletionStatus)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ProbationaryColleague)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LMCreates)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DHApproval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HREvaluation)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.PRCompletionStatus)
            </td>


            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })

                @*check*@
                @if (ViewContext.HttpContext.User.IsInRole("LineManager") && item.PRCompletionStatus == Project._1.Models.ProgressReview.CompletionStatus.Incomplete)
                 {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })
                 }&nbsp;
                @if (ViewContext.HttpContext.User.IsInRole("ProbationaryColleague") && item.PRDHApprovalStatus == Project._1.Models.ProgressReview.ApprovalStatus.Pending)
                 {
                    @Html.ActionLink("Assess", "Assess", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })
                 }&nbsp;
                @if (ViewContext.HttpContext.User.IsInRole("HRAssociate"))
                 {
                    @Html.ActionLink("Evaluate", "Evaluate", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })
                 }&nbsp;
                @if (ViewContext.HttpContext.User.IsInRole("DepartmentHead") && item.PRHRAEvalDecision == Project._1.Models.ProgressReview.EvaluationDecision.Pending)
                 {
                    @Html.ActionLink("Approve", "Approve", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })
                 }

            </td>
        </tr>
        }
    </tbody>
</table>
@section scripts
{


    <script type="text/javascript">
        $(document).ready(function () {
            $('#reviewsTable').DataTable();
        });
        $('#reviewsTable').dataTable({
            "columnDefs": [
                { "orderable": false, "targets": -1 }
            ]
        });
    </script>
}

