@model IEnumerable<Release2.ViewModels.ProgressReviewViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (ViewContext.HttpContext.User.IsInRole("HRAssociate"))
    {
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })}
    </p>
<table class="table" id="reviewsTable">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ProbationaryColleague)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LMCreates)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.DHApproval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HREvaluation)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.AssessmentStatus)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ProbationaryColleague)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LMCreates)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DHApproval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HREvaluation)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.AssessmentStatus)
            </td>


            <td>
                @if (ViewContext.HttpContext.User.IsInRole("ProbationaryColleague"))
                {
            @Html.ActionLink("Assess", "Assess", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })}
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })
                @*@if (ViewContext.HttpContext.User.IsInRole("HRAssociate"))
                {
            @Html.ActionLink("Evaluate", "Evaluate", new { id = item.Id })}
                @if (ViewContext.HttpContext.User.IsInRole("DepartmentHead"))
                {
            @Html.ActionLink("Approve", "Approve", new { id = item.Id })}
                }*@

            </td>
        </tr>
        }
    </tbody>
</table>
@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.scroller.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.bootstrap.min.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#reviewsTable').DataTable();
        });
        $('#reviewsTable').dataTable({
            "columnDefs": [
                { "orderable": false, "targets": -1 }
            ]
        });
    </script>
}

@section styles
{
    <link href="@Url.Content("/Content/DataTables/css/jquery.dataTables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/DataTables/css/dataTables.scroller.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/DataTables/css/dataTables.bootstrap.min.css")" rel="stylesheet" />
}