@model IEnumerable<Release2.ViewModels.ColleagueViewModel>

@{
    ViewBag.Title = "Colleagues";
}

<h2>Colleagues</h2>

<p>
    @if (ViewContext.HttpContext.User.IsInRole("HRAssociate"))
    {
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    }
    </p>
    <table class="table table-hover table-striped table-bordered" id="colleaguesTable" >
    <thead>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColleagueType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColleagueRegion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColleagueType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColleagueRegion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @if (ViewContext.HttpContext.User.IsInRole("HRAssociate"))
    {
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })
}&nbsp;
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })&nbsp;
                @if (ViewContext.HttpContext.User.IsInRole("HRAssociate"))
    {
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
}&nbsp;
            </td>
        </tr>
    }
    </tbody>
</table>
@section scripts
{


    <script type="text/javascript">
        $(document).ready(function () {
            $('#colleaguesTable').DataTable();
        });
        $('#colleaguesTable').dataTable({
            "columnDefs": [
                { "orderable": false, "targets": -1 }
            ]
        });
    </script>
}

