@model Release2.ViewModels.AssignmentViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Assignment Details</h4>
    <hr />
    <dl class="dl-horizontal">

        @*<dt>
            @Html.DisplayNameFor(model => model.LMInspects)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LMInspects)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.HRAssigns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRAssigns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProbationaryColleague)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProbationaryColleague)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LMAssigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LMAssigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignmentDate)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.AssignmentInspectionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignmentInspectionDate)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.AssignmentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignmentStatus)
        </dd>

    </dl>
</div>
<p>
@*    @Html.ActionLink("Inspect", "Inspect", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "HRIndex")
</p>
