@model IEnumerable<Release2.ViewModels.AssignmentViewModel>

@{
    ViewBag.Title = "Asignments";
}

<h2>Index</h2>

<p>
    @if (ViewContext.HttpContext.User.IsInRole("HRAssociate"))
    {
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })}
    </p>
<table class="table table-hover" id="assignmentsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProbationaryColleague)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LMAssigned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignmentStatus)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProbationaryColleague)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LMAssigned)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignmentStatus)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-sm  btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
                    @if (ViewContext.HttpContext.User.IsInRole("LineManager"))
    {
                @Html.ActionLink("Inspect", "Inspect", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })
}
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#assignmentsTable').DataTable();
        });
        $('#assignmentsTable').dataTable({
            "columnDefs": [
                { "orderable": false, "targets": -1 }
            ]
        });
    </script>
}

